.mainContainer {
	background: linear-gradient(
			107deg,
			rgba(93, 122, 228, 0.25) 0.24%,
			rgba(17, 18, 35, 0) 27.3%,
			rgba(17, 18, 35, 0) 72.75%,
			rgba(235, 120, 124, 0.25) 99.52%
		),
		#111223;
	//background: radial-gradient(59.58% 35.15% at 0% 0%, rgba(235, 120, 124, 0.50) 0%, rgba(235, 120, 124, 0.00) 100%), radial-gradient(95.97% 52.61% at 110.24% 76.46%, rgba(93, 122, 228, 0.50) 0%, rgba(93, 122, 228, 0.00) 100%), #111223;
	background-color: var(--main-bg-color);
	height: 100svh;
	width: 100svw;

	& > .container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		gap: 2rem;

		& > .textContainer {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			user-select: none;
			margin-left: 10em;

			& > .title {
				font-size: 3.5rem;
				color: var(--main-text-color);
				margin-bottom: 1rem;
			}

			& > .subtitle {
				font-size: 1.5rem;
				color: var(--main-text-color);
			}
			& > .buttonContainer {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 10px;
				margin-top: 2rem;
				padding: 1rem 2rem;
				border-radius: 1rem;
				background-color: var(--main-blue);
				color: var(--main-text-color);
				font-size: 1rem;
				cursor: pointer;
				transition: all 0.5s ease;

				&:hover {
					background-color: var(--main-blue-darken);
					scale: 1.1;
				}

				& > svg {
					height: 1em;
					fill: var(--main-text-color);
				}
			}
		}

		& > .imageContainer {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			width: 100%;

			& > .logo {
				border-radius: 20%;
				box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
			}
		}
	}
}
