.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100svw;
  min-height: 100svh;
  background: var(--main-bg-color) linear-gradient(
                  107deg,
                  rgba(93, 122, 228, 0.25) 0.24%,
                  rgba(17, 18, 35, 0) 27.3%,
                  rgba(17, 18, 35, 0) 72.75%,
                  rgba(235, 120, 124, 0.25) 99.52%
  );

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    & > .icon {
      width: 200px;
      color: #5DE488;
    }

    & > .title {
      font-size: 2rem;
      color: #5d7ae4;
    }

    & > .button {
      padding: 10px 25px;
      border-radius: 7px;
      background-color: #5d7ae4;
      font-size: 1.2em;
      color: #ffffff;
      transition: scale .3s ease;

      &:hover {
        scale: 1.1;
      }
    }
  }
}